	<ul class="nav nav-pills col-md-12">
	<li><%= link_to "Mon compte", my_profile_path, class: "active" %></li>
	<li><%= link_to "Mes informations", my_info_path %></li>
	<li><%= link_to "Mes annonces", my_annonces_path %></li>
	<li><%= link_to "Mes demandes", demandes_path %></li>
	</ul>
