<h1>StaticPages#help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>



<div id="sandbox-container">
	
</div>

<script type="text/javascript">


	$(document).ready(function(){
		$('#sandbox-container').datepicker({
			beforeShowDay: function(date) {
				if (date.getDay()!=3){ 
					return "green";
				}else{
					return "green";
				}
			}
		});
	});
</script>