<h1>Bienvenu sur clef de scène</h1>
<p>Félicitation votre inscription a été  confirmée</p>


<%= link_to "Je suis un artiste", new_groupe_path, :class =>"btn btn-primary" %>
<%= link_to "Je cherche un artiste", additional_infos_path, :class =>"btn btn-primary" %>


<%= link_to "Cliquer ici pour vous connecter", new_user_session_path %></li>
