<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.name %></h1>
    <p>
      Vous avez recu une nouvelle demande.
    </p>
    <%= link_to "Cliquer ici", new_user_session_path %>
  </body>
</html>