<fieldset class="row">
  <div class="col-md-3 ">
   <%= f.text_field :name %>
 </div>


 <div class="col-md-3 ">
   <%= f.date_field :date_de_creation %>
 </div>

 <div class="col-md-3 ">
   <%= f.text_field :genre %>
 </div>
</fieldset>