    <%= bootstrap_nested_form_for @annonce, url: wizard_path  do |f| %>
    <div class="col-md-12">
    	<h3 class="text-center"> Préparez vous </h3>

    	<button class="btn btn-primary backBtn btn-lg pull-left" type="button" >Back</button>
    	<button class="btn btn-success btn-lg pull-right" type="submit">Finish!</button>
    </div>
    <% end -%>


    <script type="text/javascript">
    	
    	
    </script>