<div class="row">
  <div class=" col-md-6 col-md-offset-3">
    <div class="row  ">
      <div class="- col-md-4">
        <a href="#step-1" type="button" class="btn btn-primary btn-circle">1</a>
        <p>L'essentiel</p>
          <%= link_to I18n.t("Continuer"), sti_annonce_path(@type, nil, :new), :class => "btn" %>
      </div>
      <div class=" col-md-4">
        <a href="#step-2" type="button" class="btn btn-default btn-circle disabled" >2</a>
        <p>Montrer votre talent</p>
      </div>
      <div class=" col-md-4">
        <a href="#step-3" type="button" class="btn btn-default btn-circle disabled">3</a>
        <p>Préparez vous</p>
      </div>
    </div>
  </div>
</div>

