</div>
<div id="resa">
  <% if user_signed_in? && groupe.user_id != current_user.id%>
  <%= link_to 'New demande', '#new_demande_modal', 'data-toggle' => 'modal' %>
  <%end%>
  <%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
  <div class="modal fade" id="new_demande_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create new person</h4>
        </div>
        <div class="modal-body">
          <%# Render the new person form (passing modal => true to enable remote => true) %>
            <%= render :partial => "demandes/form", locals: {demande: Demande.new, groupe_id: groupe.id, datesDisabled: datesPrises},modal: true %>
          <%#= render part'demandes/form', :demande => Demande.new, :locals => { :groupe_id => @groupe.id, :datesDisabled => @datesPrises},  modal: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>