
<div class="row">
	<div class="row">

		<%= render partial: 'static_pages/dashboard_nav_bar' %>
	</div>
	<div class="col-md-12">
		<%= link_to "Envoyées", {:controller => "demandes", :action => "inbox", :type => "From"} , :remote => true %>
		<%= link_to "Reçues", {:controller => "demandes", :action => "inbox", :type => "To"} , :remote => true %>
		<div id="content">
			<%= render 'index' %>
		</div>
	</div>
</div>